/* CSS Document */

/*body { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; }*/
#menu { width:30px; }
#menu a { color:#880000; font-weight:bold; text-decoration:none; }
#menu a:hover { color:#DE2A0B; }
#conteudo { width:30px; font-family:Verdana, Arial, Helvetica, sans-serif; }
#conteudo a { color:#880000; font-weight:bold; text-decoration:none; }
#conteudo a:hover { color:#DE2A0B; }
#conteudo ul { margin:10px 0 10px 10px; }
#resposta { width:400px; background-color:#E2A59A; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#922310; }
#carregando { width:90px; position:absolute; top:0px; background-color:#FF0000; color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font:bold; color:#FFFFFF; }
#enviando { width:75px; position:absolute; top:0px; background-color:#FF0000; color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font:bold; color:#FFFFFF; }
#noscript { width:400px; background-color:#CCCCCC; color:#FF0000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; }
.unit-rating { list-style:none;	margin: 0px; padding:0px; width: 300px; height: 20px; position: relative; background: url("../imagens/star_rating.gif") top left repeat-x; }
.unit-rating li { text-indent: -90000px; padding:0px; margin:0px; float: left; }
.unit-rating li a { display:block; width:30px; height: 20px; text-decoration: none; text-indent: -9000px; z-index: 20; position: absolute; padding: 0px; }
.unit-rating li a:hover { background: url("../imagens/star_rating.gif") left center; z-index: 2; left: 0px; }
.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}
.unit-rating li.current-rating{	background: url("../imagens/star_rating.gif") left bottom; position: absolute; height: 20px; display: block; text-indent: -9000px; z-index: 1; }
.imgborder { border:0; }
.aparece { visibility:visible; position:relative; clear:both; }
/*.aparece { clear:both; display:block; }*/
.desaparece { visibility:hidden; position:absolute; clear:both; }
/*.desaparece { position:absolute; clear:both; display:none; }*/
/*.tabela { font-size:12px; font-weight:bold; text-align:justify; margin:8px 0px; width:430px; }*/
.linha_par { background-color:#B24330; color:#FFFFFF; }
.linha_impar { background-color:#84210E; color:#FFFFFF; }
.suggestions { -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid black; background-color: white; position: absolute; }
.suggestions div { cursor: default; padding: 0px 3px; }
.suggestions .current { background-color: #36c; color: white; }
.clear { clear:both; font-size:1px; margin-top:-1px; }